<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Travel</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap" rel="stylesheet">
</head>

<body>

<div id="top_head">
    <div class="wrap">
        <a sec:authorize="isAnonymous()" th:href="@{/user/signin}">로그인</a>
        <a sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
        <a sec:authorize="isAnonymous()" th:href="@{/user/signup}">회원가입</a>
        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">어드민</a>
    </div>
</div>
<header id="header" class="clearfix">
    <div id="header-logo">
        <a href="/"><img src="images/A TRAVEL 로고.svg" alt="로고"></a>
    </div>
    <div class="header_wrap ">
        <nav id="menu">
            <div class="nav_bg"></div>
            <ul>
                <li><a href="#">항공</a>
                    <ul class="submenu">
                        <li><a href="#">국내여행</a></li>
                        <li><a href="#">해외여행</a></li>
                        <li><a href="#">제주도</a></li>
                    </ul>
                </li>
                <li><a href="#">숙박</a>
                    <ul class="submenu">
                        <li><a href="#">국내</a></li>
                        <li><a href="#">해외</a></li>
                        <li><a href="#">제주도</a></li>
                        <li><a href="#">땡처리</a></li>
                    </ul>
                </li>
                <li><a href="#">투어/티켓</a>
                    <ul class="submenu">
                        <li><a href="#">액티비티</a></li>
                        <li><a href="#">페스티벌</a></li>
                        <li><a href="#">투어정보</a></li>

                    </ul>
                </li>
                <li><a href="#">고객센터</a>
                    <ul class="submenu">
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">1:1 문의</a></li>
                        <li><a href="#">자주묻는 질문</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>
<div id="back">
    <h1 id="catch">당신의 여행을 시작하세요</h1>
</div>
<form action="/booking" method="get" id="formId">
    <div class="wrap_banner">
        <section id="bookingwrap">
            <div id="bookingform">
                <div id="booking-tab">
                    <div class="checks">
                        <div id="div-one-way">
                            <input type="radio" name="way" id="one-way" value="one-way" checked>
                            <label for="one-way">편도</label>
                        </div>
                        <div id="div-round-tirp">
                            <input type="radio" name="way" id="round-trip" value="round-trip">
                            <label for="round-trip">왕복</label>
                        </div>
                    </div>
                </div>
                <div id="deaprt-from">
                    <label for="departures">출발</label>
                    <input type="text" list="select-deaprt-from" id="departures" placeholder="선택"
                           name="departlocation">
                    <datalist name="list" id="select-deaprt-from">
                        <optgroup label="domestic">
                            <option value="ICN">인천/김포</option>
                            <option value="JEJ">제주</option>
                            <option value="BUS">부산(김해)</option>
                            <option value="KMP">김포</option>
                            <option value="INC">인천</option>
                            <option value="GJU">광주</option>
                            <option value="DAE">대구</option>
                            <option value="ULS">울산</option>
                        </optgroup>
                        <optgroup label="national">
                            <option value="SNG">중국/상하이</option>
                            <option value="MEL">호주/멜버른</option>
                            <option value="TOK">일본/도쿄</option>
                            <option value="MAN">필리핀/마닐라</option>
                            <option value="NYC">미국/뉴욕</option>
                            <option value="LON">영국/런던</option>
                            <option value="PAS">프랑스/파리</option>
                        </optgroup>
                    </datalist>
                </div>
                <button type="button" id="swap"><img src="images/swap.svg" alt="스왑버튼"> </button>
                <div id="deaprt-to">
                    <label for="arrivals">도착</label>
                    <input type="text" list="select-deaprt-to" id="arrivals" placeholder="선택"
                           name="arrivallocation">
                    <datalist name="list" id="select-deaprt-to">
                        <optgroup label="domestic">
                            <option value="ICN">인천/김포</option>
                            <option value="JEJ">제주</option>
                            <option value="BUS">부산(김해)</option>
                            <option value="KMP">김포</option>
                            <option value="INC">인천</option>
                            <option value="GJU">광주</option>
                            <option value="DAE">대구</option>
                            <option value="ULS">울산</option>
                        </optgroup>
                        <optgroup label="national">
                            <option value="SNG">중국/상하이</option>
                            <option value="MEL">호주/멜버른</option>
                            <option value="TOK">일본/도쿄</option>
                            <option value="MAN">필리핀/마닐라</option>
                            <option value="NYC">미국/뉴욕</option>
                            <option value="LON">영국/런던</option>
                            <option value="PAS">프랑스/파리</option>
                        </optgroup>
                    </datalist>
                </div>
                <div id="deaprt-date">
                    <label for="input-deaprt-date">가는날</label>
                    <input type="date" id="input-deaprt-date" value="" name="departdate">
                </div>
                <div id="return-date">
                    <label for="input-return-date" id="label-return-date">오는날</label>
                    <input type="date" id="input-return-date" value="" name="returndate">
                </div>

                <div id="deaprt-people">
                    <label for="input-peoplenum">인원</label>
                    <input type="number" id="input-peoplenum" name="peoplenum" min="1" max="100" value="1">
                </div>
            </div>
            <p class="warning">출발지를 입력해주세요.</p>
            <input type="button" id="search" value="항공권 검색">
</form>
</section>
<section id="banner">
    <h2 id="reco">추천 여행지</h2>
    <ul>
        <li>
            <div>
                <h2>따사로운 햇살이 내리는</h2>
                <h1>'MALDIVES'</h1>
                <button type="button" onclick="location.href='#'">예약하기</button>
                <img src="images/maldives-1993704.jpg" alt="몰디브해변">
            </div>
        </li>
        <li>
            <div>
                <h2>유럽의 향기가 물씬 풍기는</h2>
                <h1>'UNITED KINDOM'</h1>
                <button type="button" onclick="location.href='#'">예약하기</button>
                <img src="images/hamburg-3846525.jpg" alt="런던브릿지">
            </div>
        </li>
        <li>
            <div>
                <h2>전통이 살아 숨쉬는 </h2>
                <h1>'KOREA'</h1>
                <button type="button" onclick="location.href='#' ">예약하기</button>
                <img src="images/korean-wildlife.jpg" alt="국내절벽">
            </div>
        </li>
        <li>
            <div>
                <h2>고요하고 평온한 나라</h2>
                <h1>'AUSTRIA'</h1>
                <button type="button" onclick="location.href='#' ">예약하기</button>
                <img src="images/hallstatt-3609863.jpg" alt="할슈타드">
            </div>
        </li>
    </ul>
</section>
<div id="content" class="clearfix">
    <div id="content-img">
        <h2 id="special">특가 상품</h2>
        <div id="cont1">
            <a href="#"><img src="images/giraffe-2191662.jpg" alt="아프리카">
                <p>자연이 살아 숨쉬는 아프리카</p>
                <span>412,000원~</span>
            </a>
        </div>
        <div id="cont2">
            <a href="#"><img src="images/mosque-615415.jpg" alt="인도">
                <p>인도에서 명상과 치유의 시간을</p>
                <span>305,000원~</span>
            </a>
        </div>
        <div id="cont3">
            <a href="#"><img src="images/train-3758523.jpg" alt="러시아">
                <p>눈길을 가르며 대륙을 횡단</p>
                <span>612,000원~</span>
            </a>
        </div>
    </div>
</div>
</form>
<div id="info">
    <h2>공지사항</h2>
    <div id="info-box">

    </div>
</div>
<div id="service">
    <h2>서비스 추가</h2>
    <div class="service-box"></div>
    <div class="service-box"></div>
    <div class="service-box"></div>
    <div class="service-box"></div>
    <div class="service-box"></div>
</div>
<div id="help_outline">
    <div id="call-center">
    </div>
</div>
</div>

<footer id="footer" class="clearfix">
    <div class="wrap">
        <div id="foot1">
            <div id="footer-img">
                <a href="#"><img src="images/facebook.svg" alt="페이스북"></a>
                <a href="#"><img src="images/instagram.svg" alt="인스타그램"></a>
                <a href="#"><img src="images/twitter.svg" alt="트위터"></a>
            </div>
        </div>
        <div id="foot2">
            <select id="family_select">
                <option selected disabled>패밀리사이트</option>
                <option>패밀리사이트1</option>
                <option>패밀리사이트2</option>
                <option>패밀리사이트3</option>
            </select>
        </div>
        <div id="foot3">
            <p>© 2022 A Travel, Inc., A 계열사. All rights reserved. A Travel 및 비행기 로고는 A Travel, Inc.의 상표 또는 등록
                상표입니다.
                A Travel 주식회사, 사업자등록번호: 000-00-00000
                A Travel 주식회사, 서울특별시 상상구 공상3길 10(상상동). 사업자등록번호: 000-00-00000. 대표이사: 성효영<br>
                관광사업자등록번호: 제2099-000001호
                통신판매업신고번호: 2099-서울공상-9999호</p>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="/script/style.js"></script>
</body>

</html>