<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>항공편 검색</title>
    <link rel="stylesheet" href="/css/booking.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
</head>

<body>
<div id="top_head">
    <div class="wrap">
        <a sec:authorize="isAnonymous()" th:href="@{/user/signin}">로그인</a>
        <a sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
        <a sec:authorize="isAnonymous()" th:href="@{/user/signup}">회원가입</a>
        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">어드민</a>
    </div>
</div>
<header id="header" class="clearfix">
    <div id="header-logo">
        <a href="/"><img src="/images/A TRAVEL 로고.svg" alt="로고"></a>
    </div>
</header>
<div id="content-book">
    <div id="top-menu">
        <img src="/images/search icon.png" alt="검색">
        <div>
            <p><span th:text="${'출발지 : ' + depart}"></span><span>-</span><span th:text="${'도착지 : ' + arrival}">제주도</span></p>
            <span th:text="${'인원 : ' + peoplenum}"></span>
        </div>
        <div id="dateinfo">
            <span>출발일 : </span>
            <span>도착일 : </span>
        </div>
    </div>
    <form action="/" method="get">
        <div id="itinery-list">
            <section id="section-tab">
                <button type="submit" id="recommendation">
                    <p>추천순</p>
                    <p class="tab-price"></p>
                </button>
                <button type="submit" id="cheapest">
                    <p>최저가</p>
                    <p class="tab-price" ></p>
                </button>
                <button type="submit" id="shortest">
                    <p>최단여행시간</p>
                    <p class="tab-price" ></p>
                </button>
            </section>
            <div class="itinery">
                <button type="submit" class="ticket" >
                    <div class="ticket-list">
                       <p id="none">예약가능한 항공권이 존재하지 않습니다.</p>
                        <p id="home">*클릭하면 이전으로 돌아갑니다.</p>
                    </div>
                    <div class="ticket-price">
                        <p class="ticket-middle" ></p>
                    </div>

                </button>
        </div>
    </div>
</form>
<div id="content-bottom">
    <p>요금은 매일 갱신됩니다.<span> 예약 시기에 따라 비행기 요금이 달라질 수 있습니다. </span></p>
    <p>체크인 수하물이 있습니까? <span> 예약 시기에 따라 비행기 요금이 달라질 수 있습니다.</span></p>
</div>
</div>

<footer id="footer" class="clearfix">
    <div class="wrap">
        <div id="foot1">
            <div id="footer-img">
                <a href="#"><img src="/images/facebook.svg" alt="페이스북"></a>
                <a href="#"><img src="/images/instagram.svg" alt="인스타그램"></a>
                <a href="#"><img src="/images/twitter.svg" alt="트위터"></a>
            </div>
        </div>
        <div id="foot2">
            <select id="family_select">
                <option selected disabled>패밀리사이트</option>
                <option>패밀리사이트1</option>
                <option>패밀리사이트2</option>
                <option>패밀리사이트3</option>
            </select>
        </div>
        <div id="foot3">
            <p>© 2022 A Travel, Inc., A 계열사. All rights reserved. A Travel 및 비행기 로고는 A Travel, Inc.의 상표 또는 등록
                상표입니다.
                A Travel 주식회사, 사업자등록번호: 000-00-00000
                A Travel 주식회사, 서울특별시 상상구 공상3길 10(상상동). 사업자등록번호: 000-00-00000. 대표이사: 성효영<br>
                관광사업자등록번호: 제2099-000001호
                통신판매업신고번호: 2099-서울공상-9999호</p>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="/script/none.js"></script>
</body>

</html>