
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
    <link rel="stylesheet" th:href="@{/css/signup.css}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <!--    <script th:src="@{/js/page/home.js}"></script>-->
    <script th:src="@{https://code.jquery.com/jquery-3.6.0.js}"></script>
    <script th:src="@{/script/signin.js}"></script>
    <script th:src="@{/script/js.cookie.js}"></script>
</th:block>

<!-- Content -->
<div layout:fragment="content">

    <div id="content">
        <form id="join" th:action="@{/user/signup}" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <div id="inner-content">
                <div id="id">
                    <label for="input-id"><span>*</span>아이디</label><br>
                    <input type="text" id="input-id" name="id">
                    <p class="warning">아이디를 입력하세요.</p>
                </div>
                <div id="pw">
                    <label for="input-pw"><span>*</span>비밀번호</label><br>
                    <input type="password" id="input-pw" name="password">
                    <p class="warning">비밀번호를 입력하세요.</p>
                </div>
                <div id="pw-check">
                    <label for="input-pw-confirm"><span>*</span>비밀번호 확인</label><br>
                    <input type="password" id="input-pw-confirm" name="passwordconfirm">
                    <p class="warning">비밀번호 확인해주세요.</p>
                </div>
                <div id="name">
                    <label for="name"><span>*</span>이름</label><br>
                    <input type="text" id="input-name" name="name">
                    <p class="warning">이름을 입력하세요.</p>
                </div>
                <div id="age">
                    <label for="age"><span>*</span>나이</label><br>
                    <input type="text" id="input-age" name="age">
                    <p class="warning">나이를 입력하세요.</p>
                </div>
                <div class="checks">
                    <label for="sex" id="sex"><span>*</span>성별</label><br>
                    <div id="div-male">
                        <input type="radio" name="sex" id="male" value="male">
                        <label for="male">남성</label>
                    </div>
                    <div id="div-female">
                        <input type="radio" name="sex" id="female" value="female">
                        <label for="female">여성</label>
                    </div>
                    <p class="warning">성별을 선택해주세요.</p>
                </div>
                <input type="button" id="signup" value="가입하기" onclick="js:fnSubmit()">
                <p>이미 회원이세요? <a href="signin.html">로그인하기</a></p>
            </div>
        </form>
    </div>
</div>
</html>



<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/signup.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="/script/signup.js"></script>

</head>

<body>
<div id="top_head">
    <div class="wrap">
        <a sec:authorize="isAnonymous()" th:href="@{/user/signin}">로그인</a>
        <a sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
        <a sec:authorize="isAnonymous()" th:href="@{/user/signup}">회원가입</a>
        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">어드민</a>
    </div>
</div>
<div id="wrap">
    <header id="header" class="clearfix">
        <div id="header-logo">
            <a href="/"><img src="/images/A TRAVEL 로고.svg" alt="로고"></a>
        </div>
        <div class="header_wrap ">
        </div>
    </header>


</div>

<footer id="footer" class="clearfix">
    <div class="wrap">
        <div id="foot1">
            <div id="footer-img">
                <a href="#"><img src="/images/facebook.svg" alt="페이스북"></a>
                <a href="#"><img src="/images/instagram.svg" alt="인스타그램"></a>
                <a href="#"><img src="/images/twitter.svg" alt="트위터"></a>
            </div>
        </div>
        <div id="foot2">
            <select id="family_select">
                <option selected disabled>패밀리사이트</option>
                <option>패밀리사이트1</option>
                <option>패밀리사이트2</option>
                <option>패밀리사이트3</option>
            </select>
        </div>
        <div id="foot3">
            <p>© 2022 A Travel, Inc., A 계열사. All rights reserved. A Travel 및 비행기 로고는 A Travel, Inc.의 상표 또는 등록 상표입니다.
                A Travel 주식회사, 사업자등록번호: 000-00-00000
                A Travel 주식회사, 서울특별시 상상구 공상3길 10(상상동). 사업자등록번호: 000-00-00000. 대표이사: 성효영<br>
                관광사업자등록번호: 제2099-000001호
                통신판매업신고번호: 2099-서울공상-9999호</p>
        </div>
    </div>
</footer>
</body>

</html>