
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
    <link rel="stylesheet" th:href="@{/css/signup.css}">
    <link rel="stylesheet" th:href="@{/css/general.css}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <!--    <script th:src="@{/js/page/home.js}"></script>-->
    <script th:src="@{https://code.jquery.com/jquery-3.6.0.js}"></script>
    <script th:src="@{/script/signup.js}"></script>
    <script th:src="@{/script/js.cookie.js}"></script>
    <script th:src="@{/script/common.js}"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</th:block>

<!-- Content -->
<div layout:fragment="content">

    <div id="content">
        <h1>회원가입</h1>
        <hr>
        <form id="join" th:action="@{/user/signup}" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <div id="inner-content">
                <div id="id">
                    <label for="input-id"><span>*</span>아이디</label><br>
                    <input type="text" id="input-id" name="id">
                    <p class="warning">아이디를 입력하세요.</p>
                </div>
                <div id="pw">
                    <label for="input-pw"><span>*</span>비밀번호</label><br>
                    <input type="password" id="input-pw" name="password">
                    <p class="warning">비밀번호를 입력하세요.</p>
                </div>
                <div id="pw-check">
                    <label for="input-pw-confirm"><span>*</span>비밀번호 확인</label><br>
                    <input type="password" id="input-pw-confirm" name="passwordconfirm">
                    <p class="warning">비밀번호 확인해주세요.</p>
                </div>
                <div id="name">
                    <label for="name"><span>*</span>이름</label><br>
                    <input type="text" id="input-name" name="name">
                    <p class="warning">이름을 입력하세요.</p>
                </div>
                <div id="age">
                    <label for="age"><span>*</span>생년월일</label><br>
                    <input type="date" id="input-age" name="age">
                    <p class="warning">생년월일을 입력하세요.</p>
                </div>
                <div id="address">
                    <label for="sample6_postcode"><span>*</span>주소</label><br>
                    <input type="text" id="sample6_postcode" placeholder="우편번호" name="addressCode">
                    <input type="button" id="searchAddress"  onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
                    <input type="text" id="sample6_address" name="address" placeholder="주소"><br>
                    <input type="text" id="sample6_detailAddress" name="addressDetail" placeholder="상세주소"><br>
                    <input type="text" id="sample6_extraAddress" name="addressRef" placeholder="참고항목">
                    <p class="warning">주소를 입력하세요.</p>
                </div>
                <div class="checks">
                    <label for="sex" id="sex"><span>*</span>성별</label><br>
                    <div id="div-male">
                        <input type="radio" name="sex" id="male" value="male">
                        <label for="male">남성</label>
                    </div>
                    <div id="div-female">
                        <input type="radio" name="sex" id="female" value="female">
                        <label for="female">여성</label>
                    </div>
                    <p class="warning">성별을 선택해주세요.</p>
                </div>
                <input type="button" id="signup" value="가입하기" onclick="js:fnSubmit()">
                <p>이미 회원이세요? <a href="signin.html">로그인하기</a></p>
            </div>
        </form>
    </div>
</div>
</html>
